In [ ]:
#Find the output of the following
#1. If name = ''' Hi How are you?
#Starterd learning python.
#It's really interesting.''' Then what is the output of following code

In [ ]:
name="''' Hi How are you?"
print (name)

''' Hi How are you?

In [ ]:
name[:]

"''' Hi How are you?"

In [ ]:
name[-10:-5]

'w are'

In [ ]:
name[3:12]

' Hi How a'

In [ ]:
name[12:3]

''

In [ ]:
name[5:6]

'i'

In [ ]:
name[-4:-12]

''

In [ ]:
name[::2]

"''H o r o?"

In [ ]:
name[::-2]

"?o r o H''"

In [ ]:
#2. L1 = ['a' , 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']
L1 = ['a' , 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']
print(L1)

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']

In [ ]:
L1[:]

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']

In [ ]:
#b. L1[::3]
L1[::3]

['a', 30, 300, 'major']

In [ ]:
#c. L1[::-2]
L1[::-2]

['major', 400, 100, 30, 'b']

In [ ]:
#How to extract value “Happy” based on index and negative index
len(L1)
L1[8:9]

['Happy']

In [ ]:
L1[-2]

'Happy'

In [ ]:
#e. How to check type of data in list at 4th position
print(type(L1[3]))

<class 'int'>

In [ ]:
#f. Extract values for 100, 300, 400
L1[5:8]

[100, 300, 400]

In [ ]:
#3. If l2 =[1,2,3,5,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”] then what is the output of following

In [ ]:
L2 =[1,2,3,5,['a', 'b', 'work hard'],100 , 200, "Success"]
print(L2)

[1, 2, 3, 5, ['a', 'b', 'work hard'], 100, 200, 'Success']

In [ ]:
L2[4]

['a', 'b', 'work hard']

In [ ]:
L2[1:5]

[2, 3, 5, ['a', 'b', 'work hard']]

In [ ]:
L2[7]

'Success'

In [ ]:
L2[7][2]

'c'

In [ ]:
L2[7][2:]

'ccess'

In [ ]:

L2[ : 3]

[1, 2, 3]

In [ ]:
L2[3:]

[5, ['a', 'b', 'work hard'], 100, 200, 'Success']

In [ ]:
#4. From the above l2 value ‘b’ must be changed to ‘BEE’.
l2 =[1,2,3,5,['a', 'b', 'work hard'],100 , 200, "Success"]
print(l2)
l2[4][1]='BEE'
print(l2)

[1, 2, 3, 5, ['a', 'b', 'work hard'], 100, 200, 'Success']
[1, 2, 3, 5, ['a', 'BEE', 'work hard'], 100, 200, 'Success']

In [ ]:
#5. From l2 “BEE” has to discard.
l2[4].remove('BEE')
print(l2)

[1, 2, 3, 5, ['a', 'work hard'], 100, 200, 'Success']

In [ ]:
#6. In l2 add a dictionary at the end {‘insect’: [‘bee’, ‘moth’] , ‘bird’ : [‘parrot’, ‘sparrow’]}
l2.append({'insect': ['bee', 'moth'] , 'bird' : ['parrot', 'sparrow']})
print(l2)

[1, 2, 3, 5, ['a', 'work hard'], 100, 200, 'Success', {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}, {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}, {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}, {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}, {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}, {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [ ]:
#7. From l2 extract insect information.
l2[-1]['insect']

['bee', 'moth']

In [ ]:
#8. Create a dictionary d1 = {'a':10, 'b':20, 'c' : 30} and add the d1 at 2nd position of l2
d1 = {'a': 10, 'b': 20, 'c': 30}
l2.insert(2, d1)
print(l2)

[1, {'a': 10, 'b': 20, 'c': 30}, {'a': 10, 'b': 20, 'c': 30}, {'a': 10, 'b': 20, 'c': 30}, {'a': 10, 'b': 20, 'c': 30}, {'a': 10, 'b': 20, 'c': 30}, {'a': 10, 'b': 20, 'c': 30}, {'a': 10, 'b': 20, 'c': 30}, {'a': 10, 'b': 20, 'c': 30}, 2, 3, 5, ['a', 'work hard'], 100, 200, 'Success', {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}, {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}, {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}, {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}, {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}, {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [ ]:
#9. Based on new l2 created here extract the value 10 from l2 dictionary.
l2[1]['a']

10

In [ ]:
#10. If l2 =[1,2,3,5, (90,40,50,10), ‘Python’, 400 ,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”, (200,300, “Hundreds”)] then what is the output of following
L2 =[1,2,3,5, (90,40,50,10), 'Python', 400 ,['a', 'b', 'work hard'],100 , 200, "Success", (200,300, "Hundreds")]
print(L2)

[1, 2, 3, 5, (90, 40, 50, 10), 'Python', 400, ['a', 'b', 'work hard'], 100, 200, 'Success', (200, 300, 'Hundreds')]

In [ ]:
L2[4][2]

50

In [ ]:
L2[5][:]

'Python'

In [ ]:
L2[1:5]

[2, 3, 5, (90, 40, 50, 10)]

In [ ]:
L2[5]

'Python'

In [ ]:
L2[5][3:-1]

'ho'

In [ ]:
L2[-1]

(200, 300, 'Hundreds')

In [ ]:
L2[-4, -3]

TypeError: list indices must be integers or slices, not tuple

In [ ]:

L2[-4: -10]

[]

In [ ]:
L2[7][2]

'work hard'

In [ ]:
L2[-7][2:]

'thon'

In [ ]:
L2[ :- 3]

[1, 2, 3, 5, (90, 40, 50, 10), 'Python', 400, ['a', 'b', 'work hard'], 100]

In [ ]:
L2[-3:]

[200, 'Success', (200, 300, 'Hundreds')]

In [ ]:
#11. Ask user to enter the marks and define if the user got distinction, first class, second class, pass, Fails
#If marks are more than 80 output must be “You got distinction”
#For marks more than 60 output must be “You got First class”
#Marks more than 40 will display “You got second class”
#Marks more than or equal to 35 “PASS” Otherwise Fail

marks = int(input("Enter your marks: "))

if marks > 80:
    print("You got Distinction")
elif marks > 60:
    print("You got First Class")
elif marks > 40:
    print("You got Second Class")
elif marks >= 35:
    print("PASS")
else:
    print("FAIL")

Enter your marks: 50
You got Second Class

In [ ]:
# 12.
# Ask salary (in LPA) and rating (A, B, C, D)
# Give increment based on salary range and rating

salary = float(input("Enter salary in LPA: "))
rating = input("Enter rating (A/B/C/D): ").upper()

increment = 0

if salary <= 5:
    if rating == "A":
        increment = 16
    elif rating == "B":
        increment = 12
    elif rating == "C":
        increment = 10
    elif rating == "D":
        increment = 6

elif salary <= 10:
    if rating == "A":
        increment = 14
    elif rating == "B":
        increment = 10
    elif rating == "C":
        increment = 8
    elif rating == "D":
        increment = 6

elif salary <= 15:
    if rating == "A":
        increment = 8
    elif rating == "B":
        increment = 6
    elif rating == "C":
        increment = 4
    elif rating == "D":
        increment = 0

elif salary <= 23:
    if rating == "A":
        increment = 7
    elif rating == "B":
        increment = 5
    elif rating == "C":
        increment = 4
    elif rating == "D":
        increment = 0

print("Increment Percentage =", increment, "%")

Enter salary in LPA: 5
Enter rating (A/B/C/D): A
Increment Percentage = 16 %

In [ ]:
# 13.
# Courses: HR, Finance, Marketing, DS
# Core subject fees = 2 lakh
# Analytics subject = 10% extra (on 2 lakh)
# Hostel = 2 lakh per year
# Food = 2000 per month
# Transportation = 13000 per semester
# Calculate total annual cost

subject = input("Enter subject (HR/Finance/Marketing/DS): ")
analytics = input("Do you want Analytics? (Y/N): ").upper()
hostel = input("Hostel required? (Y/N): ").upper()
food_months = int(input("How many months food needed?: "))
transport = input("Transportation (semester/annual): ").lower()

total = 0

core_fee = 200000
total += core_fee

if analytics == "Y":
    total += core_fee * 0.10

if hostel == "Y":
    total += 200000

total += food_months * 2000

if transport == "semester":
    total += 13000
elif transport == "annual":
    total += 13000 * 2

print("Total Annual Cost =", total)

Enter subject (HR/Finance/Marketing/DS): HR
Do you want Analytics? (Y/N): Y
Hostel required? (Y/N): Y
How many months food needed?: 6
Transportation (semester/annual): semester
Total Annual Cost = 445000.0

In [ ]:
# Q14.
pages=int(input("Enter how many pages notebook do you need 100 or 200: "))
notebook = input("Enter which type do you need SQ/4Lines/2Lines/Single Line/A4 : ").title()

notebook_rate = {
    100: {'Sq': 40, '4Lines': 30, '2Lines': 30, 'Single Line': 60, 'A4': 100},
    200: {'Sq': 70, '4Lines': 50, '2Lines': 50, 'Single Line': 100, 'A4': 180}
}

rate = notebook_rate[pages][notebook]
print(rate)

standard_input = input("Enter the standard (e.g., 1-4, 5-8, 9-10): ")

if standard_input == '1-4':
    standard = (1,4)
elif standard_input == '5-8':
    standard = (5,8)
elif standard_input == '9-10':
    standard = (9,10)
else:
    print("Invalid standard entered. Please use 1-4, 5-8, or 9-10.")
    standard = None # or handle error differently

subject=input("Enter the subject : ")

books_price={
    (1,4):{'Hindi':60,'Marathi':60,'English':80,'Science':90,'Maths':100},
    (5,8):{'Hindi':100,'Marathi':100,'English':100,'Science':120,'Maths':140},
    (9,10):{'Hindi':150,'Marathi':150,'English':150,'Science':200,'Maths':250}
}

# Only proceed if standard is valid
if standard:
    price=books_price[standard][subject]
    print(price)
    print("Total Bill  : ", price+rate)

Enter how many pages notebook do you need 100 or 200: 100
Enter which type do you need SQ/4Lines/2Lines/Single Line/A4 : SQ
40
Enter the standard (e.g., 1-4, 5-8, 9-10): 5-8
Enter the subject : Science
120
Total Bill  :  160

In [ ]:
# 15.
# Create FD interest bucket.
# Ask start and end date.
# Calculate number of days and assign interest rate.

from datetime import datetime

start_date = input("Enter start date (dd-mm-yyyy): ")
end_date = input("Enter end date (dd-mm-yyyy): ")

d1 = datetime.strptime(start_date, "%d-%m-%Y")
d2 = datetime.strptime(end_date, "%d-%m-%Y")

days = (d2 - d1).days

print("Total Days =", days)

if 7 <= days <= 45:
    rate = 5.75
elif 46 <= days <= 179:
    rate = 6.25
elif 180 <= days <= 210:
    rate = 6.35
elif 211 <= days < 365:
    rate = 6.40
elif 365 <= days < 730:
    rate = 7.00
elif 730 <= days < 1095:
    rate = 6.75
elif 1095 <= days < 1825:
    rate = 6.70
elif days >= 1825:
    rate = 6.60
else:
    rate = 0

print("Applicable Interest Rate =", rate, "%")

Enter start date (dd-mm-yyyy): 05-10-2003
Enter end date (dd-mm-yyyy): 05-10-2025
Total Days = 8036
Applicable Interest Rate = 6.6 %

In [ ]:
#17. Create a=100
a = 100
#Convert a to string
str_a = str(a)
#Convert a to list
list_a=list(a)
#Convert a to tuple
tuple_a = tuple(a)
# Convert a to dict
dict_a = dict(a)
# Convert a to set
set_a = set(a)
# Convert to float Observe the errors and note it down for all conversions.
float_a = float(a)

In [ ]:
#Q8. Create city = “Pune”
city="Pune"
#Convert to int
int_city=int(city)
# Convert float
float_city=float(city)
# Convert list
list_city=list(a)
# Convert tuple
tuple_city=tuple(city)
# Convert dict
dict_city=dict(city)
# Convert set · Obsert errors and note it down for all conversions
set_city=set(city)

In [ ]:
# Q 9:
# Create a list and perform type conversions

marks = [20,18,15,17,18]

print("Original value:", marks)
print("Original type:", type(marks))


# Convert to int
try:
    int_marks = int(marks)
    print("Converted to int:", int_marks)
except Exception as e:
    print("Int conversion Error:", e)


#  Convert to float
try:
    float_marks = float(marks)
    print("Converted to float:", float_marks)
except Exception as e:
    print("Float conversion Error:", e)


#  Convert to list
try:
    list_marks = list(marks)
    print("Converted to list:", list_marks)
except Exception as e:
    print("List conversion Error:", e)


#  Convert to tuple
try:
    tuple_marks = tuple(marks)
    print("Converted to tuple:", tuple_marks)
except Exception as e:
    print("Tuple conversion Error:", e)


# Convert to dict
try:
    dict_marks = dict(marks)
    print("Converted to dict:", dict_marks)
except Exception as e:
    print("Dict conversion Error:", e)


#  Convert to set
try:
    set_marks = set(marks)
    print("Converted to set:", set_marks)
except Exception as e:
    print("Set conversion Error:", e)

Original value: [20, 18, 15, 17, 18]
Original type: <class 'list'>
Int conversion Error: int() argument must be a string, a bytes-like object or a real number, not 'list'
Float conversion Error: float() argument must be a string or a real number, not 'list'
Converted to list: [20, 18, 15, 17, 18]
Converted to tuple: (20, 18, 15, 17, 18)
Dict conversion Error: cannot convert dictionary update sequence element #0 to a sequence
Converted to set: {17, 18, 20, 15}

In [ ]:
# Question 10

# Create empty list
snames = []

print("Empty list:", snames)

# Add 20 using append
snames.append(20)
print("After append 20:", snames)

# Add 30 using extend (extend needs iterable, so use list)
snames.extend([30])
print("After extend 30:", snames)

# Add more values using append
snames.append(40)
snames.append(50)
print("After adding 40 and 50:", snames)

# Add "WORK" using extend (string splits into characters)
snames.extend("WORK")
print("After extend 'WORK':", snames)

# Create new list combo
combo = [1, 'a', 'b', 2, 3]
print("Combo list:", combo)

# Add snames to combo using + operator
new_list = combo + snames
print("Combo + snames:", new_list)

# Add combo to snames using append
snames.append(combo)
print("After append combo:", snames)

# Add combo to snames using extend
snames.extend(combo)
print("After extend combo:", snames)

Empty list: []
After append 20: [20]
After extend 30: [20, 30]
After adding 40 and 50: [20, 30, 40, 50]
After extend 'WORK': [20, 30, 40, 50, 'W', 'O', 'R', 'K']
Combo list: [1, 'a', 'b', 2, 3]
Combo + snames: [1, 'a', 'b', 2, 3, 20, 30, 40, 50, 'W', 'O', 'R', 'K']
After append combo: [20, 30, 40, 50, 'W', 'O', 'R', 'K', [1, 'a', 'b', 2, 3]]
After extend combo: [20, 30, 40, 50, 'W', 'O', 'R', 'K', [1, 'a', 'b', 2, 3], 1, 'a', 'b', 2, 3]

In [ ]:
# Q11.

l1 = [100, 200]
l3 = [1, 2, 3, 4, 5, 6, 7]

print("Original l3:", l3)

# Add l1 at 4th position (index 3)
l3.insert(3, l1)

print("Updated l3:", l3)

Original l3: [1, 2, 3, 4, 5, 6, 7]
Updated l3: [1, 2, 3, [100, 200], 4, 5, 6, 7]

In [ ]:
# Q13.

squares = [i*i for i in range(1, 11)]

print("Squares upto 10:", squares)

Squares upto 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Q14.

div_13 = [i for i in range(1, 201) if i % 13 == 0]

print("Numbers divisible by 13 till 200:")
print(div_13)

Numbers divisible by 13 till 200:
[13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

In [ ]:
# Q15.

div_4 = [i for i in range(300, 401) if i % 4 == 0]

print("Numbers divisible by 4 between 300 and 400:")
print(div_4)

Numbers divisible by 4 between 300 and 400:
[300, 304, 308, 312, 316, 320, 324, 328, 332, 336, 340, 344, 348, 352, 356, 360, 364, 368, 372, 376, 380, 384, 388, 392, 396, 400]

In [ ]:
# 23.
# Create l1 as a list and perform set operation on s1 with l1

s1 = {10, 20, 30, 40, 50}
l1 = [30, 40, 80, 90]

print("Original Set s1 =", s1)
print("List l1 =", l1)

# Convert list to set for operation
l1_set = set(l1)

print("\nUnion =", s1.union(l1_set))
print("Intersection =", s1.intersection(l1_set))
print("Difference (s1 - l1) =", s1.difference(l1_set))

Original Set s1 = {50, 20, 40, 10, 30}
List l1 = [30, 40, 80, 90]

Union = {40, 10, 80, 50, 20, 90, 30}
Intersection = {40, 30}
Difference (s1 - l1) = {50, 10, 20}

In [ ]:
# Q22
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

# Union
print("Union:", s1 | s2)

# Intersection
print("Intersection:", s1 & s2)

# Difference (s1 - s2)
print("Difference (s1 - s2):", s1 - s2)

# Difference (s2 - s1)
print("Difference (s2 - s1):", s2 - s1)

# Symmetric Difference
print("Symmetric Difference:", s1 ^ s2)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (s1 - s2): {1, 2, 3}
Difference (s2 - s1): {8, 6, 7}
Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [ ]:
# Q.23
l1 = [3, 4, 5, 9, 10]

# Convert list to set
l1_set = set(l1)

# Union
print("Union:", s1 | l1_set)

# Intersection
print("Intersection:", s1 & l1_set)

# Difference
print("Difference (s1 - l1):", s1 - l1_set)

# Symmetric Difference
print("Symmetric Difference:", s1 ^ l1_set)

Union: {1, 2, 3, 4, 5, 9, 10}
Intersection: {3, 4, 5}
Difference (s1 - l1): {1, 2}
Symmetric Difference: {1, 2, 9, 10}

In [ ]:
# Q24. Ask user to enter the name and DOB and generate the password based on first name 4 characters and @ddmm. For example name = SURESH and DOB = 05-05-1978 then password will be SURE@0505
name=input("Enter the name :")
DOB=input("Enter the DOB")

password=name[0:4]+"@"+DOB[0:2]+DOB[3:5]
print(password)

Enter the name :Dhanshree
Enter the DOB24-10-2003
Dhan@2410

In [ ]:
# Q25. Ask user to enter the name and DOB and generate the password based on
#first name 4 characters and last 4 digits of DOB or year @yyyy.
#For example name = SURESH and DOB = 05-05-1978
#then password will be SURE@1978
name=input("Enter the name :")
DOB=input("Enter the DOB")

password=name[0:4]+"@"+DOB[-4:]
print(password)

Enter the name :Dhanshree
Enter the DOB24-10-2003
Dhan@2003

In [ ]:
# Q26

for i in range(5):
  print('* ' *i)

*
* *
* * *
* * * *

In [ ]:
#Q.27
for i in range(4, 0, -1):
    print('*' * i)

****
***
**
*

In [ ]:
#Q.28
Str_val = "ABCD"

for i in range(1, len(Str_val) + 1):
    print(" ".join(Str_val[:i]))

A
A B
A B C
A B C D

In [ ]:
#Q.29
Str_val = "ABCD"

for i in range(len(Str_val)):
    print(Str_val[i] * (i + 1))

A
BB
CCC
DDDD

In [ ]:
# Q30
for i in range(1, 5):
    print(str(i) * i)

1
22
333
4444

In [ ]:
# 31
Val = "ABCD"
rev = Val[::-1]

for i in range(1, len(rev) + 1):
    print(rev[:i])

D
DC
DCB
DCBA

In [ ]:
# 32
s = input("Enter the string: ")
rev = s[::-1]

for i in range(1, len(rev) + 1):
    print(rev[:i])

Enter the string: Dhanshree
e
ee
eer
eerh
eerhs
eerhsn
eerhsna
eerhsnah
eerhsnahD

In [ ]:
# 33
odd_list = []
for i in range(1, 11):
    if i % 2 != 0:
        odd_list.append(i)

print(odd_list)

odd_list = [i for i in range(1, 11) if i % 2 != 0]
print(odd_list)

[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]

In [ ]:
# 34
even_list = []

for i in range(200, 251):
    if i % 2 == 0:
        even_list.append(i)

print(even_list)

[200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250]

In [ ]:
# Q36
# List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]
# Multiply each and every element from list2 by 2 and store answer in list3

para = "hello"

List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]

list3 = []

for item in List2:
    if isinstance(item, (int, float, str, list, tuple)):
        list3.append(item * 2)
    elif isinstance(item, set):
        list3.append(item.union(item))  # set multiply concept
    elif isinstance(item, dict):
        new_dict = {}
        for k, v in item.items():
            new_dict[k] = v
            new_dict[k*2] = v
        list3.append(new_dict)

print("New list =", list3)

New list = [4, 140, 'workwork', 'hellohello', 5.0, [1, 2, 3, 1, 2, 3], (1, 2, 1, 2), {1, 2}, {1: 'a', 2: 'b', 4: 'b'}, 6, 20, 605.0]

In [ ]:
# Q37
# Create a function to accept marks from user and validate using exception.

def get_marks():
    try:
        marks = int(input("Enter marks (0-100): "))
        if marks < 0 or marks > 100:
            raise ValueError("Marks should be between 0 and 100")
        print("Valid marks entered:", marks)
    except ValueError as e:
        print("Error:", e)

get_marks()

Enter marks (0-100): 20
Valid marks entered: 20

In [ ]:
# Q38
# First name / Last name should contain only characters.
# No special characters, numbers, space allowed.

def validate_name(name):
    if name.isalpha():
        print("Valid Name")
    else:
        print("Invalid Name")

fname = input("Enter First Name: ")
lname = input("Enter Last Name: ")

validate_name(fname)
validate_name(lname)

Enter First Name: 41321hgyg
Enter Last Name: 5456656
Invalid Name
Invalid Name

In [ ]:
# Q39
# Mobile number must contain 10 digits only.
# No special characters, alphabets, or spaces.

def validate_mobile(mobile):
    if mobile.isdigit() and len(mobile) == 10:
        print("Valid Mobile Number")
    else:
        print("Invalid Mobile Number")

mob = input("Enter Mobile Number: ")
validate_mobile(mob)

Enter Mobile Number: 9370892458
Valid Mobile Number

In [ ]:
# Q40
# Password = First 4 characters of name + year of birth

name = input("Enter Name: ").upper()
dob = input("Enter DOB (dd-mm-yyyy): ")

first_part = name[:4]
year = dob[-4:]

password = first_part + year

print("Generated Password =", password)

Enter Name: Dhanshree
Enter DOB (dd-mm-yyyy): 24-10-2003
Generated Password = DHAN2003

In [ ]:
# Q41
# Create empty dictionary and store customer details with auto increment key

customers = {}
customer_no = 1

while True:
    name = input("Enter Name: ")
    dob = input("Enter DOB: ")
    mobile = input("Enter Mobile: ")

    customers[customer_no] = {
        "name": name,
        "DOB": dob,
        "mobile": mobile
    }

    customer_no += 1

    choice = input("Add another customer? (y/n): ").lower()
    if choice != 'y':
        break

print("Customer Dictionary =")
print(customers)

Enter Name: Dhanshree
Enter DOB: 24-10-2003
Enter Mobile: 9370892458
Add another customer? (y/n): n
Customer Dictionary =
{1: {'name': 'Dhanshree', 'DOB': '24-10-2003', 'mobile': '9370892458'}}

In [ ]:
# Q42
# Save customer dictionary into cust_info.txt

customers = {1: {"name":"Sachin","DOB":"21-06-1965","mobile":"1234123423"}}

with open("cust_info.txt", "w") as f:
    f.write(str(customers))

print("Data saved into cust_info.txt")

Data saved into cust_info.txt

In [ ]:
# Q43
# Read cust_info.txt and append new customer if exists

import ast

try:
    with open("cust_info.txt", "r") as f:
        data = f.read()
        customers = ast.literal_eval(data)
except:
    customers = {}

new_id = len(customers) + 1

name = input("Enter Name: ")
dob = input("Enter DOB: ")
mobile = input("Enter Mobile: ")

customers[new_id] = {
    "name": name,
    "DOB": dob,
    "mobile": mobile
}

with open("cust_info.txt", "w") as f:
    f.write(str(customers))

print("Updated Data Saved")

Enter Name: Sachin
Enter DOB: 24-10-2003
Enter Mobile: 7894561231
Updated Data Saved

In [1]:
# Q44.
# Create table cust_info with columns:
# sr_no, name, DOB, mobile
# Validate data and insert into table.

import sqlite3

# Connect database
conn = sqlite3.connect("customer.db")
cur = conn.cursor()

# Create table
cur.execute("""
CREATE TABLE IF NOT EXISTS cust_info(
    sr_no INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    DOB TEXT,
    mobile TEXT
)
""")

# Take input
name = input("Enter Name: ")
dob = input("Enter DOB (dd-mm-yyyy): ")
mobile = input("Enter Mobile Number: ")

# Validation
if name.isalpha() and mobile.isdigit() and len(mobile) == 10:
    cur.execute("INSERT INTO cust_info (name, DOB, mobile) VALUES (?, ?, ?)",
                (name, dob, mobile))
    conn.commit()
    print("Record Inserted Successfully ")
else:
    print("Validation Failed ")

conn.close()

Enter Name: Dhanshree
Enter DOB (dd-mm-yyyy): 24-10=
Enter Mobile Number: 789456123
Validation Failed

In [ ]:
# Q45 Sort dictionary based on values

Dict1 = {
    "Key": {"subkey": 20},
    "k2": {"sub2": 5},
    "k3": {"sub4": 16},
    "k4": {"sub4": 6}
}

# sort dictionary
sorted_dict = dict(sorted(Dict1.items(), key=lambda x: list(x[1].values())[0]))

print(sorted_dict)

{'k2': {'sub2': 5}, 'k4': {'sub4': 6}, 'k3': {'sub4': 16}, 'Key': {'subkey': 20}}

In [ ]:
# Q46  Calculate age till now

from datetime import datetime

dob = input("Enter DOB (dd-mm-yyyy): ")

birth_year = int(dob[-4:])
current_year = datetime.now().year

age = current_year - birth_year

print("Your age is:", age)

Enter DOB (dd-mm-yyyy): 24-10-2003
Your age is: 23

In [ ]:
# Q47 Check eligibility

dob = input("Enter DOB (dd-mm-yyyy): ")
eligibility = int(input("Enter eligibility age: "))

birth_year = int(dob[-4:])
current_year = datetime.now().year

age = current_year - birth_year

if age >= eligibility:
    print("Eligible")
else:
    print("Not Eligible")

Enter DOB (dd-mm-yyyy): 24-10-2003
Enter eligibility age: 21
Eligible

In [ ]:
# Q48 Palindrome check

word = input("Enter word: ")

if word == word[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

Enter word: mam
Palindrome

In [ ]:
# Q49  Fibonacci upto 100

a = 0
b = 1

while a <= 100:
    print(a, end=" ")
    c = a + b
    a = b
    b = c

0 1 1 2 3 5 8 13 21 34 55 89

In [ ]:
# Q50.
# Generate factorial of a number.

def factorial(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result

num = int(input("Enter number: "))
print("Factorial =", factorial(num))

Enter number: 5
Factorial = 120

In [ ]:
# Q51.
# Find largest number in the list.

numbers = [10, 45, 2, 99, 23]

largest = numbers[0]

for num in numbers:
    if num > largest:
        largest = num

print("Largest number =", largest)

Largest number = 99

In [ ]:
# Q52.
# Check frequency of each element in list.

numbers = [1,2,2,3,3,3,4,4,4,4]

freq = {}

for num in numbers:
    if num in freq:
        freq[num] += 1
    else:
        freq[num] = 1

print("Frequency =", freq)

Frequency = {1: 1, 2: 2, 3: 3, 4: 4}

In [ ]:
# Q53.
# Find common elements in two lists.

l1 = [1,2,3,4,5]
l2 = [3,2,8,7,9]

common = []

for num in l1:
    if num in l2:
        common.append(num)

print("Common Elements =", common)

Common Elements = [2, 3]

In [ ]:
# Q54. Create classes based on OOP concept for User, Product and Order.

import sqlite3
from datetime import datetime

conn = sqlite3.connect("shop.db")
cur = conn.cursor()

cur.execute("CREATE TABLE IF NOT EXISTS user (uid INTEGER PRIMARY KEY, mobile TEXT, passkey TEXT, date TEXT)")
cur.execute("CREATE TABLE IF NOT EXISTS product (pid INTEGER PRIMARY KEY, pname TEXT)")
cur.execute("CREATE TABLE IF NOT EXISTS orders (oid INTEGER PRIMARY KEY, uid INTEGER, pid INTEGER)")

class User:
    def sign_up(self, mobile, passkey):
        date = datetime.now().strftime("%d-%m-%Y")
        cur.execute("INSERT INTO user (mobile, passkey, date) VALUES (?, ?, ?)", (mobile, passkey, date))
        conn.commit()
        print("User Registered")

    def view_products(self):
        for row in cur.execute("SELECT * FROM product"):
            print(row)

    def place_order(self, uid, pid):
        cur.execute("INSERT INTO orders (uid, pid) VALUES (?, ?)", (uid, pid))
        conn.commit()
        print("Order Placed")

u = User()

In [ ]:
# Q56.
# Build function to print bill.

def print_bill(items):
    total = 0
    print("----- BILL -----")
    for item, price in items.items():
        print(item, ":", price)
        total += price
    print("----------------")
    print("Total Amount =", total)

cart = {
    "Pen": 20,
    "Book": 100,
    "Pencil": 10
}

print_bill(cart)

----- BILL -----
Pen : 20
Book : 100
Pencil : 10
----------------
Total Amount = 130