LIST COMPREHENSIONS

In [ ]:
# Q1: Write a list comprehension to generate squares of numbers from 1 to 10.
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Q2: Create a list of even numbers between 1 and 50 using list comprehension.
even_numbers = [x for x in range(1, 51) if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [ ]:
# Q3: Convert all strings in a list to uppercase using list comprehension.
words = ["apple", "banana", "cherry"]
uppercase_words = [word.upper() for word in words]
print(uppercase_words)

['APPLE', 'BANANA', 'CHERRY']

In [ ]:
# Q4: Given a list of integers, create a new list that contains only the positive numbers.
numbers = [-5, 10, -3, 8, 0, -2, 7]
positive_numbers = [num for num in numbers if num > 0]
print(positive_numbers)

[10, 8, 7]

In [ ]:
# Q5: Create a list of tuples (num, num^2) for numbers 1 to 5.
tuples_list = [(num, num**2) for num in range(1, 6)]
print(tuples_list)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [ ]:
# Q6: Extract all vowels from a given string using list comprehension
text = "List Comprehension"
vowels = [char for char in text if char.lower() in "aeiou"]
print(vowels)

['i', 'o', 'e', 'e', 'i', 'o']

In [ ]:
# Q7: Flatten a 2D list using list comprehension.
matrix = [[1, 2], [3, 4], [5, 6]]
flattened = [num for row in matrix for num in row]
print(flattened)

[1, 2, 3, 4, 5, 6]

In [ ]:
# Q8: Replace negative numbers with 0
numbers = [-5, 4, -2, 9, -1]
updated_list = [0 if num < 0 else num for num in numbers]
print(updated_list)

[0, 4, 0, 9, 0]

In [ ]:
# Q9: Length of each word
words = ["statistics", "python", "data", "analysis"]
lengths = [len(word) for word in words]
print(lengths)

[10, 6, 4, 8]

In [ ]:
# Q10: Filter words starting with A or a
words = ["Apple", "banana", "Avocado", "grape", "apricot"]
filtered_words = [word for word in words if not word.lower().startswith("a")]
print(filtered_words)

['banana', 'grape']

In [ ]:
# Q11: Generate even/odd list
numbers = [1, 2, 3, 4, 5]
result = ["even" if num % 2 == 0 else "odd" for num in numbers]
print(result)

['odd', 'even', 'odd', 'even', 'odd']

In [ ]:
# Q12: Divisible by both 3 and 5
divisible = [x for x in range(1, 101) if x % 3 == 0 and x % 5 == 0]
print(divisible)

[15, 30, 45, 60, 75, 90]

In [ ]:
# Q13: Multiplication table (1â€“5)
table = [[i * j for j in range(1, 6)] for i in range(1, 6)]
print(table)

[[1, 2, 3, 4, 5], [2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20], [5, 10, 15, 20, 25]]

In [ ]:
# Q14: Convert dictionary keys to list
my_dict = {"name": "Dhanshree", "age": 22, "course": "MSc Statistics"}
keys_list = [key for key in my_dict]
print(keys_list)

['name', 'age', 'course']

In [ ]:
# Q15: Extract numeric digits
text = "Data123Science456"
digits = [char for char in text if char.isdigit()]
print(digits)

['1', '2', '3', '4', '5', '6']

In [ ]:
# Q16: Remove spaces from string
text = "List Comprehension in Python"
no_spaces = [char for char in text if char != " "]
print("".join(no_spaces))

ListComprehensioninPython

In [ ]:
# Q17: Characters appearing more than once
text = "programming"
duplicates = [char for char in set(text) if text.count(char) > 1]
print(duplicates)

['r', 'g', 'm']

In [ ]:
# Q18: Extract all words from list of sentences
sentences = ["Python is powerful", "Statistics is interesting"]
words = [word for sentence in sentences for word in sentence.split()]
print(words)

['Python', 'is', 'powerful', 'Statistics', 'is', 'interesting']

In [ ]:
# Q19: Unique elements from list
numbers = [1, 2, 2, 3, 4, 4, 5]
unique = [num for i, num in enumerate(numbers) if num not in numbers[:i]]
print(unique)

[1, 2, 3, 4, 5]

In [ ]:
# Q20: Cartesian product
A = [1, 2, 3]
B = ['a', 'b']
pairs = [(x, y) for x in A for y in B]
print(pairs)

[(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b'), (3, 'a'), (3, 'b')]

LAMBDA FUNCTIONS

In [ ]:
from functools import reduce
import math

In [ ]:
# Q1: Add two numbers
add = lambda a, b: a + b
print(add(5, 3))

8

In [ ]:
# Q2: Check even
is_even = lambda x: x % 2 == 0
print(is_even(10))

True

In [ ]:
# Q3: Last character
last_char = lambda s: s[-1]
print(last_char("Python"))

n

In [ ]:
# Q4: Square using map
numbers = [1, 2, 3, 4]
squares = list(map(lambda x: x**2, numbers))
print(squares)

[1, 4, 9, 16]

In [ ]:
# Q5: Filter odd numbers
numbers = [1, 2, 3, 4, 5]
odd_numbers = list(filter(lambda x: x % 2 != 0, numbers))
print(odd_numbers)

[1, 3, 5]

In [ ]:
# Q6: Sort tuples by second value
data = [(1, 3), (2, 1), (4, 2)]
sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)

[(2, 1), (4, 2), (1, 3)]

In [ ]:
# Q7: Check palindrome
is_palindrome = lambda s: s == s[::-1]
print(is_palindrome("madam"))

True

In [ ]:
# Q8: Maximum of three
max_three = lambda a, b, c: max(a, b, c)
print(max_three(10, 25, 15))

25

In [ ]:
# Q9: Reverse string
reverse = lambda s: s[::-1]
print(reverse("Dhanshree"))

eerhsnahD

In [ ]:
# Q10:
str_numbers = ["10", "20", "30"]
int_numbers = list(map(lambda x: int(x), str_numbers))
print(int_numbers)

[10, 20, 30]

In [1]:
# Q11: Remove empty strings from list
strings = ["Python", "", "Data", "", "Science"]
non_empty = list(filter(lambda x: x != "", strings))
print(non_empty)

['Python', 'Data', 'Science']

In [3]:
from functools import reduce
# Q12: Factorial using lambda + reduce
number = 5
factorial = reduce(lambda x, y: x * y, range(1, number + 1))
print(factorial)

120

In [4]:
# Q13: Larger of two numbers
larger = lambda a, b: a if a > b else b
print(larger(15, 20))

20

In [5]:
# Q14: Check if number divisible by 5
divisible_by_5 = lambda x: x % 5 == 0
print(divisible_by_5(25))

True

In [6]:
# Q15: Add 10 to each element
numbers = [5, 10, 15]
updated = list(map(lambda x: x + 10, numbers))
print(updated)

[15, 20, 25]

In [7]:
# Q16: Sort list of dictionaries by age
people = [
    {"name": "Amit", "age": 25},
    {"name": "Riya", "age": 20},
    {"name": "Karan", "age": 30}
]

sorted_people = sorted(people, key=lambda x: x["age"])
print(sorted_people)

[{'name': 'Riya', 'age': 20}, {'name': 'Amit', 'age': 25}, {'name': 'Karan', 'age': 30}]

In [8]:
# Q17: Check if character is vowel
is_vowel = lambda ch: ch.lower() in "aeiou"
print(is_vowel("A"))

True

In [9]:
# Q18: Extract words with length > 5
words = ["Python", "Data", "Science", "AI", "MachineLearning"]
long_words = list(filter(lambda x: len(x) > 5, words))
print(long_words)

['Python', 'Science', 'MachineLearning']

In [11]:
import math
# Q19: Area of circle
area_circle = lambda r: math.pi * r**2
print(area_circle(7))

153.93804002589985

In [12]:
# Q20: Remove duplicates using filter + set
numbers = [1, 2, 2, 3, 4, 4, 5]
unique = list(filter(lambda x: numbers.count(x) == 1, numbers))
print(unique)

[1, 3, 5]

In [13]:
# Q21: Product of all numbers
numbers = [1, 2, 3, 4]
product = reduce(lambda x, y: x * y, numbers)
print(product)

24

In [14]:
# Q22: Absolute value
absolute = lambda x: x if x >= 0 else -x
print(absolute(-15))

15

In [15]:
# Q23: Sort strings by length
words = ["Statistics", "AI", "Python", "Data"]
sorted_words = sorted(words, key=lambda x: len(x))
print(sorted_words)

['AI', 'Data', 'Python', 'Statistics']

In [16]:
# Q24: Extract only uppercase characters
text = "PyTHon IS FuN"
uppercase_chars = list(filter(lambda x: x.isupper(), text))
print(uppercase_chars)

['P', 'T', 'H', 'I', 'S', 'F', 'N']

In [19]:
# Q25: Square if even, cube if odd
check = lambda x: x**2 if x % 2 == 0 else x**3
print(check(4))
print(check(3))

16
27

In [20]:
# Q26: Convert Celsius to Fahrenheit
celsius = [0, 20, 30, 40]
fahrenheit = list(map(lambda c: (c * 9/5) + 32, celsius))
print(fahrenheit)

[32.0, 68.0, 86.0, 104.0]

In [21]:
# Q27: Check anagrams
anagram = lambda s1, s2: sorted(s1.lower()) == sorted(s2.lower())
print(anagram("listen", "silent"))

True

In [22]:
# Q28: Extract numeric values
mixed = [10, "Python", 25.5, "Data", 7]
numeric_values = list(filter(lambda x: isinstance(x, (int, float)), mixed))
print(numeric_values)

[10, 25.5, 7]

In [23]:
# Q29: Check if any element is negative
numbers = [5, 10, -3, 8]
has_negative = any(map(lambda x: x < 0, numbers))
print(has_negative)

True

In [24]:
# Q30: Generate multiplier function
multiply_by_n = lambda n: lambda x: x * n

double = multiply_by_n(2)
print(double(10))

20